%btn{
    display:inline-block;
    border-radius:5px;
    padding:10px 20px;
    margin:5px;
}
.btn-primary{
    @extend %btn;
    @include background-color(lighten( $primary-color, 10%)) ;
    // background:lighten( $primary-color, 10%) ;
    //background:darken( $primary-color, 10%) 
    

}
.btn-secondary{
    @extend %btn;
    @include background-color($secondary-color) ;

    // background:$secondary-color;
}