// Variables:
//-- Color
$primary-color: #333;
$secondary-color: #ffa600;
$heading-color: #fff;
$sub-heading-color: #f4f4f4;
$body-color: #f4f4f4;
$link-color: $heading-color;
$link-color-hover: #ffff00;
//-- Fonts
$body-font: Helvetica, sans-serif;

//set Text Color based on background
@function text-color($color) {
  @if (lightness($color) >70) {
    @return #333;
  } @else {
    @return #fff;
  }
}
//set bg and Text Color based on background
@mixin background-color($color) {
  background: $color;
  color: text-color($color);
}
